ctx = '.goods-lable-discount'
{ctx} {
    box-sizing: border-box;
    position: absolute;

    background: #2eb72e none repeat scroll 0 0;
    border-radius: 2px;
    color: #fff;
    font-size: 11px;
    line-height: 15px;
    padding: 2px 8px 3px;
}
