ctx = '.header_theme_amb'
{ctx} {
  box-sizing: border-box;
  position: relative;
  z-index: 2;
  width: 100%;

  font-weight: 300;

  .header{
    &__layout{
      &_light{
        background: #fff;
      }
      &_dark{
        background: #424a55;
      }
    }

    &__logo, &__contacts{
      display: inline-block;
      vertical-align: bottom;
    }
  }
}
