ctx = '.basket'
{ctx} {
    position: relative;

    display: flex;
    flex-flow: row nowrap;
    align-items: center;

    &__icon{
        position: relative;

        width: 24px;
        height: 24px;
        fill: #fff;

        margin: 12px;
        
        &_img{
            position: absolute;
            left: 0;
            top: 0;
        }
    }

    &__badge{
        position: absolute;
        right: -9px;
        top: -9px;

        background: #0068af;
        width: 18px;
        height: 18px;
        border-radius: 50%;

        text-align: center;

        color: #fff;
        font-size: 13px;
        line-height: 18px;
    }
}
