ctx = '.header'
{ctx} {
    box-sizing: border-box;
    position: relative;
    z-index: 2;
    width: 100%;

    font-weight: 300;
    background: #424a55;

    &__container{
      width: 100%;
      margin-left: auto;
      margin-right: auto;

      display: flex;

      flex: 0 1 auto;
      flex-flow: row wrap;

      transition: all 0.3s ease 0s;
    }

    &__logo, &__phone, &__basket{
      flex-basis: 100%;
      max-width: 100%;

      text-align: center;
    }

    &__phone{
        justify-content: center;
        font-size: 1.5rem;
        line-height: 3rem;
    }

    &__adress{
        font-size: 1rem;
        line-height: 1.5rem;
    }

    &__basket{
        justify-content: center;
    }
}

@media only screen and (min-width: 420px) {
  {ctx}{
      &__container{
          max-width: 100%;
      }

      &__logo{
          flex-basis: 100%;
          max-width: 100%;

          text-align: center;
      }

      &__phone{
          flex-basis: 100%;
          max-width: 100%;

          text-align: center;
          justify-content: center;
      }

      &__basket{
          flex-basis: 100%;
          max-width: 100%;

          text-align: center;
          justify-content: center;
      }
  }
}

@media only screen and (min-width: 800px) {
    {ctx}{
        &__container{
            max-width: calc(100% - 160px);
        }

        &__logo{
            flex-basis: 100%;
            max-width: 100%;

            text-align: center;
        }

        &__phone{
            flex-basis: 50%;
            max-width: 50%;

            text-align: left;
            justify-content: flex-start;
        }

        &__basket{
            flex-basis: 50%;
            max-width: 50%;

            text-align: left;
            justify-content: flex-end;
        }
    }
}

@media only screen and (min-width: 1200px) {
    {ctx}{
        &__container{
            max-width: 960px;
        }

        &__logo{
            flex-basis: 33.333%;
            max-width: 33.333%;

            text-align: left;
            justify-content: flex-start;
        }

        &__phone{
            flex-basis: 33.333%;
            max-width: 33.333%;

            text-align: left;
        }

        &__basket{
            flex-basis: 33.333%;
            max-width: 33.333%;

            text-align: left;
            justify-content: flex-end;
        }
    }
}

@media only screen and (min-width: 1450px) {
    {ctx}{
        &__container{
            max-width: 1200px;
        }

        &__logo{
            flex-basis: 33.333%;
            max-width: 33.333%;

            text-align: left;
            justify-content: flex-start;
        }

        &__phone{
            flex-basis: 33.333%;
            max-width: 33.333%;

            text-align: left;
        }

        &__basket{
            flex-basis: 33.333%;
            max-width: 33.333%;

            text-align: left;
            justify-content: flex-end;
        }
    }
}

@media screen and (orientation: portrait) {
    {ctx}{
        &__container{
            width: 100%;
        }
    }
}
