ctx = '.layout'
{ctx} {
  box-sizing: border-box;

  margin-left: auto;
  margin-right: auto;

  transition: all 0.3s ease 0s;

  &__row{
    display: flex;

    flex: 0 1 auto;
    flex-flow: row wrap;

    &_between{
        justify-content: space-between;
    }

    &_middle{
        align-items: center;
    }
  }

  &__col{
    box-sizing: border-box;
    flex: 0 0 auto;
    max-width: 100%;

    &_sidebar{
      flex-basis: 100%;
      max-width: 100%;

      background: #fff;
      border-right: 1px solid #d9d9d9;
    }

    &_main{
      flex-basis: 100%;
      max-width: 100%;

      background: #fff;
    }

    @media only screen and (max-width: 419px) {
      &_sidebar{
        order: 0;
      }

      &_main{
        order: 1;
      }
    }
  }
}

@media only screen and (max-width: 799px) {
  {ctx}{
      &__row{
        margin-left: 0;
        margin-right: 0;
      }
  }
}

@media only screen and (min-width: 420px) {
  {ctx}{
    max-width: 100%;

    &__col{
      &_sidebar{
        flex-basis: 33.333%;
        max-width: 33.333%;
      }

      &_main{
        flex-basis: 66.667%;
        max-width: 66.667%;
      }
    }
  }
}

@media only screen and (min-width: 800px) {
  {ctx}{
    max-width: calc(100% - 160px);

    &__row{
      /*margin-left: 0;
      margin-right: 0;*/
    }
  }
}

@media only screen and (min-width: 1200px) {
  {ctx}{
    max-width: 960px;
  }
}

@media only screen and (min-width: 1450px) {
  {ctx}{
    max-width: 1200px;

    &__col{
      &_sidebar{
        flex-basis: 20%;
        max-width: 20%;
      }

      &_main{
        flex-basis: 80%;
        max-width: 80%;
      }
    }
  }
}

@media screen and (orientation: portrait) {
  {ctx}{
    width: 100%;
  }
}
