ctx = '.layout'
{ctx} {
  box-sizing: border-box;

  margin-left: auto;
  margin-right: auto;

  &__row{
    display: flex;

    flex: 0 1 auto;
    flex-flow: row wrap;

    margin-top: 1rem;
    margin-left: -.5rem;
    margin-right: -.5rem;
  }

  &__col{
    box-sizing: border-box;
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%;
    padding-left: .5rem;
    padding-right: .5rem;

    &_sidebar{
      flex-basis: 100%;
      max-width: 100%;
    }

    &_main{
      flex-basis: 100%;
      max-width: 100%;
    }

    @media only screen and (max-width: 419px) {
      &_sidebar{
        order: 0;
      }

      &_main{
        order: 1;
      }
    }
  }
}

@media only screen and (min-width: 420px) {
  {ctx}{
    &__col{
      &_sidebar{
        flex-basis: 33.333%;
        max-width: 33.333%;
      }

      &_main{
        flex-basis: 66.667%;
        max-width: 66.667%;
      }
    }
  }
}

@media only screen and (min-width: 420px) {
  {ctx}{
    max-width: 100%;
  }
}

@media only screen and (min-width: 800px) {
  {ctx}{
    max-width: calc(100% - 160px);
  }
}

@media only screen and (min-width: 1200px) {
  {ctx}{
    max-width: 960px;
  }
}

@media only screen and (min-width: 1450px) {
  {ctx}{
    max-width: 1200px;
  }
}

@media screen and (orientation: portrait) {
  {ctx}{
    width: 100%;
  }
}
