ctx = '.basket'
{ctx} {
    .button_hovered ~ &__list, &__list:hover{
        right: 0;
        opacity: 1;
    }

    &__list{
        position: absolute;
        top: 100%;
        right: -9999px;

        display: block;

        background: #fff;
        border: 1px solid rgba(0, 0, 0, 0.2);
        box-shadow: 0 0 0 1px rgba(0,0,0,0.1), 0 10px 20px -5px rgba(0,0,0,0.4);

        opacity: 0;
        transition: opacity 0.3s ease 0s;
    }

    &__item{
        display: flex;
        flex-flow: row nowrap;
        align-items: center;

        max-width: 70vw;

        border-bottom: 1px solid rgba(0, 0, 0, 0.5);

        &:last-child{
            border-bottom: 0;
        }
    }

    &__item-img{
        width: 20%;

        & .image{
            width: 100px;
        }
    }
}

@media only screen and (min-width: 550px) {
    {ctx}{
        &__item{
            max-width: 500px;
        }
    }
}
