ctx = '.goods-list_aside_left'
{ctx} {
    margin-top: 1rem;

    .goods-list{
        &__container{
            box-sizing: border-box;
            width: 100%;
            position: relative;
            margin: 0 auto;

            display: flex;
            flex-flow: row wrap;

            background: #fff;
            border: 1px solid rgba(0, 0, 0, .2);
        }

        &__panel{
            width: 100%;
            flex-basis: 100%;
            max-width: 100%;
            border-bottom: 1px solid rgba(0, 0, 0, .2);
        }

        &__aside-toggle{
            display: inline-block;
            line-height: 28px;
            padding-top: .5rem;
            padding-left: 1rem;
            padding-right: 6px;
            padding-bottom: .5rem;

            box-sizing: border-box;

            color: #333;
            text-decoration: none;

            transition: all 0.3s ease 0s;

            .icon{
                fill: #333;
                width: 28px;
                height: 28px;
            }

            &:hover{
                color: #0068af

                .icon{
                    fill: #0068af;
                }
            }
        }

        &__aside{
            box-sizing: border-box;
            width: 200px;

            padding: 3rem .5rem.5rem;
            border-right: 1px solid rgba(0, 0, 0, .2);

            position: fixed;
            top: 0;
            left: 0;
            z-index: 110;

            height: 100vh;
            background: #fff;

            transform: translateX(-100%);
            transition: all .3s ease 0s;

            &_visible{
                transform: translateX(0);
            }
        }

        &__aside-close{
            position: absolute;
            right: 1rem;
            top: 1rem;

            & .icon{
                background: url('../image/close.svg');
                background-repeat: no-repeat;

                width: 14px;
                height: 14px;

                opacity: .3;
                transition: opacity 0.3s ease 0s;

                &:hover{
                    opacity: 1;
                    cursor: pointer;
                }
            }
        }

        &__show-styles{
            float: right;
            padding: .5rem 1rem;

            & .icon > svg{
                width: 18px;
                height: 18px;
            }
        }

        &__showcase{
            width: 100%;

            display: flex;
            flex-flow: row wrap;

            &_style_line{
                .goods-list{
                    &__item{
                        flex-basis: 100%;
                        max-width: 100%;
                        border-right: 0;
                    }
                }

                .goods{
                    &__image{
                        width: 25%;
                        float: left;
                    }

                    &__price{
                        padding-left: 1rem;
                    }

                    &__group{
                        float: right;
                        width: 75%;
                        vertical-align: top;
                    }

                    &__properties{
                        float: right;
                        width: 75%;
                    }

                    &__properties-list{
                        padding-left: 1rem;
                    }
                }
            }
        }

        &__item{
            box-sizing: border-box;
            flex-basis: 100%;
            max-width: 100%;

            border-right: 1px solid rgba(0, 0, 0, .2);
            border-bottom: 1px solid rgba(0, 0, 0, .2);

            transition: all 0.3s ease 0s;
        }
    }
}

@media only screen and (min-width: 420px) {
    .goods-list{
        &__container{
            max-width: 100%;
        }

        {ctx} &__aside{
            width: 300px;
        }

        {ctx} &__showcase{
            width: 100%;
        }

        {ctx} &__item{
            flex-basis: 33.333%;
            max-width: 33.333%;

            &:nth-child(3n){
                border-right: 0;
            }
        }
    }
}

@media only screen and (min-width: 800px) {
    .goods-list{
        &__container{
            max-width: calc(100% - 160px);
        }

        {ctx} &__aside-toggle{
            visibility: hidden;
            display: none;
        }

        {ctx} &__aside{
            position: relative;
            z-index: 10;

            padding-top: .5rem;

            height: auto;
            width: 25%;
            transform: translateX(0);
        }

        {ctx} &__aside-close{
            visibility: hidden;
            display: none;
        }

        {ctx} &__showcase{
            width: 75%;
        }

        {ctx} &__item{
          flex-basis: 50%;
          max-width: 50%;

          &:nth-child(2n){
              border-right: 0;
          }
        }
    }
}

@media only screen and (min-width: 1200px) {
    .goods-list{
        &__container{
            max-width: 960px;
        }

        {ctx} &__item{
          flex-basis: 33.333%;
          max-width: 33.333%;

          &:nth-child(2n){
              border-right: 1px solid rgba(0, 0, 0, .2);
          }

          &:nth-child(3n){
              border-right: 0;
          }
        }
    }
}

@media only screen and (min-width: 1450px) {
    .goods-list{
        &__container{
            max-width: 1200px;
        }

        {ctx} &__item{
            flex-basis: 25%;
            max-width: 25%;

            &:nth-child(3n), &:nth-child(2n){
                border-right: 1px solid rgba(0, 0, 0, .2);
            }

            &:nth-child(4n){
                border-right: 0;
            }
        }

        {ctx} &__aside{
            width: 20%;
        }

        {ctx} &__showcase{
            width: 80%;
        }
    }
}

@media screen and (orientation: portrait) {
    .goods-list{
        &__container{
            max-width: 100%;
        }
    }
}
