ctx = '.goods-card'
{ctx} {
    box-sizing: border-box;
    position: relative;
    margin-top: 1rem;

    &__container{
        box-sizing: border-box;
        width: 100%;
        position: relative;
        margin: 0 auto;

        display: flex;
        flex-flow: row wrap;

        background: #fff;
        border: 1px solid rgba(0, 0, 0, .2);
    }

    &__header{
        box-sizing: border-box;
        width: 100%;

        padding: 1rem;

        border-bottom: 1px solid rgba(0, 0, 0, .2);
    }

    &__description{
        box-sizing: border-box;
        flex-basis: 100%;
        max-width: 100%;

        border-right: 1px solid rgba(0, 0, 0, .2);
        border-bottom: 1px solid rgba(0, 0, 0, .2);

        padding: 1rem;

        transition: all 0.3s ease 0s;
    }

    &__carousel{
        box-sizing: border-box;
        flex-basis: 100%;
        max-width: 100%;

        border-bottom: 1px solid rgba(0, 0, 0, .2);

        transition: all 0.3s ease 0s;
    }

    &__properties-row{
        position: relative;

        margin: 0;

        background: #fff;
    }

    &__properties-key, &__properties-value{
        display: inline-block;
        background: inherit;

        width: 50%;

        padding: 0;
        margin: 0 0 3px;
    }

    &__properties-value{
        position: relative;
        z-index: 1;
    }

    &__properties-key{
        background: inherit;

        &:after{
            content: '';
            position: absolute;
            right: 5px;
            left: 0;

            height: 1px;
            margin-top: .85em;

            background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAABCAAAAAA+i0toAAAAAnRSTlMA/1uRIrUAAAAMSURBVHheY7j1/z8ABY8C2UtBe8oAAAAASUVORK5CYII=');
            background-repeat: repeat-x;
            background-position: 0 0;
        }
    }

    &__properties-name{
        position: relative;
        z-index: 2;

        padding-right: 5px;

        background: inherit;
    }
}

@media only screen and (min-width: 420px) {
    {ctx}{
        &__container{
            max-width: 100%;
        }
    }
}

@media only screen and (min-width: 800px) {
    {ctx}{
        &__container{
            max-width: calc(100% - 160px);
        }

        &__description{
            flex-basis: 50%;
            max-width: 50%;
        }

        &__carousel{
            flex-basis: 50%;
            max-width: 50%;
        }
    }
}

@media only screen and (min-width: 1200px) {
    {ctx}{
        &__container{
            max-width: 960px;
        }

        &__description{
            flex-basis: 50%;
            max-width: 50%;
        }

        &__carousel{
            flex-basis: 50%;
            max-width: 50%;
        }
    }
}

@media only screen and (min-width: 1450px) {
    {ctx}{
        &__container{
            max-width: 1200px;
        }
    }
}

@media screen and (orientation: portrait) {
  {ctx}{
    width: 100%;
  }
}
