ctx = '.contacts'
{ctx} {
  color: #fff;

  &__phone{
    line-height: 3rem;
    font-size: 1.5rem;


    text-decoration: none;
    transition: color 0.3s ease 0s;

    &_light{
      color: #fff;

      &:hover{
        color: #fee481;
      }
    }
  }

  &__phone::before{
    content: '+';
    line-height: 3rem;
    font-size: 1.5rem;
  }
}
