ctx = '.goods-list'
{ctx} {
  display: flex;
  flex-flow: row wrap;

  &__item{
    flex-basis: 100%;
    max-width: 100%;

    background: rgba(255, 0, 0, .5);
  }
}

@media only screen and (min-width: 420px) {
  {ctx}{
    &__item{
      flex-basis: 50%;
      max-width: 50%;
    }
  }
}

@media only screen and (min-width: 800px) {
  {ctx}{
    &__item{
      flex-basis: 33.333%;
      max-width: 33.333%;
    }
  }
}

@media only screen and (min-width: 1200px) {
  {ctx}{
    &__item{
      flex-basis: 25%;
      max-width: 25%;
    }
  }
}

@media only screen and (min-width: 1450px) {
  {ctx}{
    &__item{
      flex-basis: 20%;
      max-width: 20%;
    }
  }
}

@media screen and (orientation: portrait) {
  {ctx}{
    width: 100%;
  }
}