ctx = '.carousel_slick'
{ctx} {
    width: 100%;
    margin-left: auto;
    margin-right: auto;

    transition: all 0.3s ease 0s

    img{
    	max-width: 100%;
    	object-fit: cover;
    }
}

@media only screen and (max-width: 799px) {
    {ctx} {
        .slick-prev:before, .slick-next:before{
            font-size: 2rem;
        }

        .slick-prev, .slick-next{
            width: 2rem;
            height: 2rem;
        }

        .slick-next, .slick-prev{
            z-index: 1;
        }

        .slick-prev{
            left: 0;
        }

        .slick-next{
            right: 0;
        }
    }
}

@media only screen and (min-width: 420px) {
  {ctx}{
    max-width: 100%;
  }
}

@media only screen and (min-width: 800px) {
  {ctx}{
    max-width: calc(100% - 160px);
  }
}

@media only screen and (min-width: 1200px) {
  {ctx}{
    max-width: 960px;
  }
}

@media only screen and (min-width: 1450px) {
  {ctx}{
    max-width: 1200px;
  }
}

@media screen and (orientation: portrait) {
  {ctx}{
    width: 100%;
  }
}
