ctx = '.icon_type_cart'
{ctx} {
    & > svg{
        height: 18px;
        width: 18px;
        fill: #333;
    }

    .button_view_action & > svg{
        height: 18px;
        width: 18px;
        fill: #fff;
    }
}
