.popup_tail{
    padding-top: 8px;
}
.popup_theme_amb.popup_tail.popup_visible{
    margin-top: 9px;
}
.popup__tail::after {
    bottom: 1px;
    content: "";
    left: 1px;
	background: #fff none repeat scroll 0 0;
}
.popup__tail, .popup__tail::after {
    height: 16px;
    position: absolute;
    width: 16px;
}
.popup_direction_top-right .popup__tail{
    bottom: -7px;
	transform: rotate(45deg);
}
.popup_direction_top-center .popup__tail{
    bottom: -7px;
	transform: rotate(45deg);
}
.popup_direction_top-left .popup__tail{
    bottom: -7px;
	transform: rotate(45deg);
}
.popup_direction_bottom-right .popup__tail{
    top: -9px;
	transform: rotate(135deg);
}
.popup_direction_bottom-center .popup__tail{
    top: -9px;
	transform: rotate(135deg);
}
.popup_direction_bottom-left .popup__tail{
    top: -9px;
	transform: rotate(135deg);
}
.popup__tail {
    display: block;
    overflow: hidden;
    font: 0px/0 a;
    z-index: 9;
	background: rgba(0, 0, 0, 0) linear-gradient(to right top, rgba(0, 0, 0, 0.1) 50%, rgba(0, 0, 0, 0) 50%) repeat scroll 0 0;
}
