ctx = '.header_theme_amb'
{ctx} {
  box-sizing: border-box;
  position: fixed;
  top:0;
  left: 0;
  z-index: 100;

  width: 100%;

  padding: .5rem 1rem;
  background: #e6e6e6;

  &:after{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    content: '';
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.14), 0 4px 8px rgba(0, 0, 0, 0.28);
  }
}
