ctx = '.image'
{ctx} {
	&_loaded{
		display: none !important;
	}

	&_color_black{
		fill: #000;
	}

	&_color_white{
		fill: #eee;
	}
	&_color_grey{
		fill: #808080;
	}

	&_color_khaki{
		fill: #806b2a;
	}
}
