ctx = '.phone'
{ctx} {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    text-decoration: none;

    &__icon{
        margin-right: .5em;
        height: 1em;
        width: 1em;
        fill: #fff;
        position: relative;

        &_img{
            position: absolute;
            top: 0.1em;
            left: 0;
        }
    }

    &__text{
        position: relative;

        color: #fff;
        text-decoration: none;

        transition: color .3s ease 0s;

        &:before{
            content: '+';
            position: absolute;
            left: -.5em;
        }

        &:hover{
            color: #db3727;
        }
    }
}
